<div class="row">
	<%= form_for @piano, :class => "col s12" do |f| %>
		<%=f.fields_for :product do |prod| %>
    		<%= render :partial => '/products/form', :locals => {:f => prod} %>
    	<% end %>

		<div class="row">
		   <div class="input-field col s12">
				<%= f.select(:tipo) do %>
					<% [['A coda', "A coda"], ['A muro', "A muro"]].each do |c| -%>
						<%= content_tag(:option, c.first, value: c.last) %>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<%= f.label :color, :class => "active" %>
				<%= f.text_field :color %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<%= f.label :material, :class => "active" %>
				<%= f.text_field :material %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<%= f.label :n_keys, :class => "active" %>
				<%= f.number_field :n_keys %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<%= f.submit "Sell piano", :class => "btn waves-effect waves-light" %>
			</div>
		</div>
		<% end %>
	</div>