-# partial from piano, every time we render @piano this will be showed inline. So this can be rendered also in another view as a part of it 

.show-card-height.col.s12.m7
	%h2.header
		Details
	= piano.tipo
	%br
	= piano.color
	%br
	= piano.material
	%br
	= piano.n_keys
	%br
	= piano.product.model
	%br
	= piano.tipo