<!--# partial from product, every time we render @product this will be showed inline. So this can be rendered also in another view as a part of it -->
<div class="show-card-height.col.s12.m7">
  <h2> Details </h2>
    <%= headphone.wireless %><br>
    <%= headphone.bluetooth %><br>
    <%= headphone.cable_length %><br>
    <%= headphone.impedence %><br>
    <%= headphone.type %><br>
</div>
  