<h2 class="headers-color">Ban a User</h2>
<%= form_tag(admin_panel_ban_path, method: :delete) do %>
        <div class="row">
          <div class="input-field col s6">
            <%= label :email , "Email", :class => "active" %>
            <%= text_field :email, params[:email] %>
          
        <div class="search-button">
          <%= submit_tag 'Ban', name: nil, :class => "waves-effect waves-light btn" %>
        </div>
<% end %>

<ul class="collection with-header collection-margin">
  <li class="collection-header headers-color"><h4>Orders</h4></li>
  <% @orders.each do |order| %>
    <li class="collection-item order-font"> Order number <%= order.id %>
    <%= link_to order_path(order), method: :delete, data: {confirm: "Are you sure?"}, :class => "secondary-content" do%>
      <i class="material-icons">delete</i>
    <% end %>
    </li>
<% end %>
  