<div class="row">
	<%= form_for @drum, :class => "col s12" do |f| %>
		<%=f.fields_for :product do |prod| %>
<<<<<<< HEAD

=======
>>>>>>> Quantity
        <%= render :partial => '/products/form', :locals => {:f => prod} %>
    <% end %> 
		
		<div class="row">
			<div class="input-field col s6">
				<%=f.label :pedals, :class => "active" %>
				<%=f.number_field :pedals %>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<%= f.label :color, :class => "active" %>
				<%= f.text_field :color %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<%= f.label :cymbals, :class => "active" %>
				<%= f.number_field :cymbals %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<%= f.label :toms, :class => "active" %>
				<%= f.number_field :toms %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<%= f.submit "Sell drum", :class => "btn waves-effect waves-light" %>
			</div>
		</div>
		<% end %>
	</div>