%h2 
	Profile Settings
%p#email
	%h4
		Email corrente:
	%br
	= @user.email
	%br

%p#avatar
	%h3
		Avatar:
	%br
	%p#avatar
		-if @user.image != nil
			= image_tag "data:image/jpeg;base64,#{@user.image}"
	%p
		Change avatar:
	= form_for @user, url: settings_change_avatar_path do |form|
		= form.file_field :image
		= form.submit
	%p
		Change password:
	=form_for @user, url:settings_change_password_path do |form|
		.field
			= form.label :curr_pass
			%br
			= form.password_field :curr_pass 
			%br
		.field
			= form.label :password
			%br
			= form.password_field :password
			%br
		.field
			= form.label :confirm
			%br
			= form.password_field :confirm
			%br
		.actions
			= form.submit "Change password"

%p
	Products:
%br
	- @user.products.each do |prod|	
		= prod.title
		= link_to "Modify" , edit_product_path(prod)
		= link_to "Delete", product_path(prod), method: :delete, data: {confirm: "Are you sure?"}

