<div class="row">
    <%= form_for @order ,:class => "col s12" do |f| %>
      <div class="row">
        <div class="input-field col s6">
            <%= f.label :address , :class => "active" %>
            <%= f.text_field :address %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
            <%= f.label :t_num , :class => "active" %>
            <%= f.text_field :t_num %>
        </div>
      </div>
      <div class="row">
		   <div class="input-field col s6">
				<%= f.select(:p_method) do %>
					<% [['Cash on delivery', "Cash on delivery"],['PayPal', "PayPal"]].each do |c| -%>
						<%= content_tag(:option, c.first, value: c.last) %>
					<% end %>
			    <% end %>
      <div class="row">
        <div class="input-field col s12">
            <%= f.submit "Submit Order", :class => "btn waves-effect waves-light" %>
        </div>
    </div>
    <% end %>
  </div>