
%h4
	Sell another instrument:
%br

= link_to "Sell piano", new_piano_path
%br 
= link_to "Sell drum", new_drum_path
%br
= link_to "Sell guitar", new_guitar_path
%br
= link_to "Sell generic instrument", new_other_path

%h4
	Your products for sale:
%br
	- @products.each do |prod|	

		-if prod.instrum.instance_of?(Piano)
			= prod.title
			= link_to "Modify" , edit_piano_path(prod.instrum)
			= link_to "Delete", piano_path(prod.instrum), method: :delete, data: {confirm: "Are you sure?"}
			%br
		-if prod.instrum.instance_of?(Other)
			= prod.title
			= link_to "Modify" , edit_other_path(prod.instrum)
			= link_to "Delete", other_path(prod.instrum), method: :delete, data: {confirm: "Are you sure?"}
			%br
		-if prod.instrum.instance_of?(Guitar)
			= prod.title
			= link_to "Modify" , edit_guitar_path(prod.instrum)
			= link_to "Delete", guitar_path(prod.instrum), method: :delete, data: {confirm: "Are you sure?"}
			%br
		-if prod.instrum.instance_of?(Drum)
			= prod.title
			= link_to "Modify" , edit_drum_path(prod.instrum)
			= link_to "Delete", drum_path(prod.instrum), method: :delete, data: {confirm: "Are you sure?"}
			%br
