      <div class="note">
        All required fields are signed with bold font and red color.
      </div>
      <div class="row">
        <div class="input-field col s6">
            <div class="required">
              <%= f.label :title , :class => "active" %>
              <%= f.text_field :title %>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
            <%= f.label :brand , :class => "active" %>
            <%= f.text_field :brand %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <%= f.label :model , :class => "active" %>
            <%= f.text_field :model %>
        </div>
      </div>
      <div class="file-field input-field col s12 m8">
        <div class="btn">
          <span>File</span>
            <%= f.file_field :image %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="block-container">
        <div class="block-form-small">
          <div class="row">
            <div class="input-field col s6">
                <div class="required">
                  <%= f.label :price , :class => "active" %>
                  <%= f.number_field :price , :step => "0.01" %>
                </div>
                <%- if @instrum.present? && @instrum.product.price.present? && @wal_price.present? && @wal_price < @instrum.product.price then%>
                  <div class="wal-price">
                    Lower price on Walmart: <%= @wal_price %>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
        <div class="block-form-small">
          <div class="row">
            <div class="input-field col s6">
                <div class="required">
                  <%= f.label :quantity , :class => "active" %>
                  <%= f.number_field :quantity %>
                </div>
             </div>
          </div>
        </div>
      </div>
      <div class="block-form-small">
        <div class="row">
          <div class="input-field col s6">
            <div class="required">
              <%= f.label :weight , :class => "active" %>
              <%= f.number_field :weight %>
            </div>
          </div>
        </div>
      </div>
      <div class="block-form-small">
        <div class="row">
          <div class="input-field col s6">
              <%= f.label :height , :class => "active" %>
              <%= f.number_field :height %>
          </div>
        </div>
      </div>
      <div class="block-form-small">
        <div class="row">
          <div class="input-field col s6">
              <%= f.label :length , :class => "active" %>
              <%= f.number_field :length %>
          </div>
        </div>
      </div>
      <div class="block-form-small">
        <div class="row">
          <div class="input-field col s6">
              <%= f.label :depth , :class => "active" %>
              <%= f.number_field :depth %>
          </div>
        </div> 
      </div>
      <div class="input-field col s9">
            <%= f.label :description , :class => "active" %>
            <%= f.text_area :description, :class => "materialize-textarea" %>
      </div>