<!--# partial from product, every time we render @product this will be showed inline. So this can be rendered also in another view as a part of it -->


<div class="show-card-height col s12 m7"> 
    <div class="card horizontal">      
      <div class="card-image">
        <%= image_tag "data:image/jpeg;base64,#{product.image}", :class => 'product-image' %>
      </div>
      <div class="card-stacked">
        <h2 class="header-title"><%= product.title %></h2>
        <div class="show-card card-content">
          <div class="field-title">
            Description:
          </div>
          <div class="field-content">
            <p><%= product.description %></p>
          </div>
          <%-if product.height || product.length || product.depth || product.weight  %>
          <table>
            <thead>
              <tr>
                <th>Height</th>
                <th>Lenght</th>
                <th>Depth</th>
                <th>Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%-if product.height  %>
                      <%= product.height.to_s+" cm"%>
                    <%- end %>
                </td>
                <td><%-if product.length  %>
                      <%= product.length.to_s+" cm"%>
                    <%- end %>
                </td>
                <td><%-if product.depth  %>
                      <%= product.depth.to_s+" cm"%>
                    <%- end %>
                </td>
                <td><%-if product.weight  %>
                      <%= product.weight.to_s+" kg"%>
                    <%- end %>
                </td>
              </tr>
            </tbody>
          </table>
          <%- end %>
        <%- if !product.brand.blank? %>
          <div class="field-title">
            Brand:
          </div>
          <div class="field-content">
            <%= product.brand %>  
          </div>
        <% end %>
        <%- if !product.model.blank? %>
          <div class="field-title">
            Model:
          </div>
          <div class="field-content">
            <%= product.model%>
          </div>
        <% end %>
        </div>
        <div class="header"><%= product.user.email %> </div>
        <div class="show-card-btn card-action">
          <%- if current_user != product.user then %>
          <%= link_to "Buy", line_items_path(product_id: product), method: :post %>
          <%- end %>
          <%- if current_user == product.user || (current_user != nil && current_user.admin? ) then %>
            <%= link_to "Remove", product_path(product), method: :delete %>
          <%-end %>
        </div>
      </div>
    </div>
  </div>