<!--# partial from product, every time we render @product this will be showed inline. So this can be rendered also in another view as a part of it -->

<%= link_to products_path do %>
    <i class="material-icons">arrow_back</i> Back
  </div>
<% end %>
<div class="show-card-height col s12 m7">
    <h2 class="header"><%= product.title %></h2>
    <div class="card horizontal">
      <div class="card-image">
        <%= image_tag "data:image/jpeg;base64,#{product.image}", :class => 'product-image' %>
      </div>
      <div class="card-stacked">
        <div class="show-card card-content">
          <p><%= product.description %></p>
        </div>
        <div class="header"><%= product.user.email %> </div>
        <div class="show-card-btn card-action">
          <a href="#">Buy</a>
          <%- if current_user == product.user || current_user.admin? then %>
            <%= link_to "Remove", product_path(product), method: :delete %>
            <%= link_to  "Modify", edit_product_path(product) %>
          <%-end %>
        </div>
      </div>
    </div>
  </div>