<h3 class='grid-head'> Choose what you want </h3>  
  <div class="row" id="grid-head">
    <div class="col s12 m6">
      <div class="grid-element">
        <div class="card">
          <div class="card-image">
            <%= link_to image_tag("pianos.jpg", :alt => "Pianos"), pianos_path %>
            <span class="card-title">Pianos</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" href="/pianos/new"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Here you can find all the offers about pianos, digital or acoustics, upright pianos or grand pianos with relative image</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="grid-head">
   <div class="col s12 m6">
    <div class="grid-element">
      <div class="card">
        <div class="card-image">
          <%= link_to image_tag("guitars.jpg", :alt => "Others"), guitars_path %>
          <span class="card-title">Guitars and basses</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/guitars/new"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Here you can find all the offers about guitars and basses, divided in left and right handed but also in digitals and acoustics</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="grid-head">
   <div class="col s12 m6">
    <div class="grid-element">
      <div class="card">
        <div class="card-image">
          <%= link_to image_tag("drums.jpg", :alt => "Others"), drums_path %>
          <span class="card-title">Drums</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/drums/new"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Here you can find all the offers about drums, selected by price but also by number of pedals and cymbals</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="grid-head">
   <div class="col s12 m6">
    <div class="grid-element">
      <div class="card">
        <div class="card-image">
          <%= link_to image_tag("headphones.jpg", :alt => "Others"), headphones_path %>
          <span class="card-title">Headphones and microphones</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/headphones/new"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Here you can find all the offers about headphones and microphones, and chose the one that you prefer according to many tecnical characteristics</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="grid-head">
   <div class="col s12 m6">
    <div class="grid-element">
      <div class="card">
        <div class="card-image">
          <%= link_to image_tag("others.jpg", :alt => "Others"), others_path %>
          <span class="card-title">Others</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/others/new"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Here you can find all the offers about all the instruments who doesn't belong to one of the previous categories. For example violins, saxophones ecc...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
          