<h3> <%= @product.title %> </h3>
Brand: <%= @product.brand %> <br>
Model: <%= @product.model %> <br>
Price: <%= @product.price %> <br>   
Weight: <%= @product.weight %> <br>
Description: <%= @product.description %> <br>