<!-- We render the partial _product.html.haml
	 and the partial _instrum associated -->
<%= render(@product) %>
<%= render(@product.instrum) %>
<% if @product.user != current_user && @product.comments.where(:user => current_user).size == 0 %>
	<%= render  "comments/form" %>
<% end %>

<h2> Comments </h2>
<% if !@product.comments.nil? %>
	<% @product.comments.each  do |comm| %>
		<%= render(comm) %>
		<% if comm.user == current_user %>
			<%= link_to  "Edit", edit_product_comment_path(@product,comm) %>
		<% end %>
		<% if comm.user == current_user || current_user.try(:admin?)  %>
			<%= link_to  "Delete", product_comment_path(@product,comm),method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
	<% end %>
<% end %>
