<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class ="controller-<%= controller.controller_name %>">  
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to  "Music Shop", root_path, :class => "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user.try(:admin?) %>
            <li><%= link_to  "Admin Panel", admin_panel_show_path() %></li>
          <% end %>
          <li> <%= link_to "Categories", products_grid_path %> </li>
          <% if user_signed_in? %>
            <li> <%= link_to  application_cart_path() do %>
                    <i class="material-icons">shopping_cart</i>
                  <% end %>
            </li>
            <li> <%= link_to  "Settings", settings_show_path() %>
            <li> <%= link_to "My Activities", activities_index_path() %></li>
            <li><%= link_to "Logout", application_logout_path() %></li>
          <% else %>
          <li><%= link_to "Login", new_user_session_path() %></li>
          <% end %>
          
        </ul>
        <%= form_tag(products_search_path, method: :post ) do %>
            <div class="input-field">
                <%= search_field_tag :search, params[:search] %>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
            </div>
        <% end %>
      </div>
    </nav>   
  </div>
  <ul class="side-nav" id="mobile-demo">
   <div class="product-form-title">
     Categories
   </div>  
   <li><%= link_to  "Guitars", guitars_path %></li>
   <li><%= link_to  "Pianos", pianos_path %></li>
   <li><%= link_to  "Drums", drums_path %></li>
   <li><%= link_to  "Headphones", headphones_path %></li>
   <li><%= link_to  "Others", others_path %></li>
   <li>
   <div class="row">
      <div class="product-form-title">
        Search Product
      </div>      
      <%= form_tag(products_path, method: :get) do %>
        <div class="row">
          <div class="input-field col s6">
            <%= label :brand , "Brand", :class => "active" %>
            <%= text_field_tag :brand, params[:brand] %>
          </div>
          <div class="input-field col s6">
            <%= label :model , "Model", :class => "active" %>
            <%= text_field_tag :model, params[:model] %>
          </div>          
        </div>
        <div class="input-field col s6">
            <%= label :min_price, "Min price", :class => "active"%>
            <%= number_field_tag :min_price, params[:min_price] %>
        </div>
        <div class="input-field col s6">
            <%= label :max_price, "Max price", :class => "active"%>
            <%= number_field_tag :max_price, params[:max_price] %>
        </div>
        <div class="search-button">
          <%= submit_tag 'Search', name: nil, :class => "waves-effect waves-light btn" %>
        </div>
    <% end %>
    </div>
  </div>
  </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
