<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav>
    <div class="nav-wrapper">
      <%= link_to  "Music Shop", root_path, :class => "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li> <%= link_to  "Settings", settings_show_path() %>
          <li><%= link_to "Logout", application_logout_path() %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path() %></li>
        <% end %>
        
      </ul>
      <form>
          <div class="input-field">
              <input id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
          </div>
       </form>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
